.profile-bar {
  padding: 15px 25px;
  background: linear-gradient(262deg, #ff7854, #fd267d);

  a {
    font-size: 24px;
    line-height: 34px;
  }

  a:hover {
    text-decoration: none;
  }
}

.nav-bridges-sidebar .nav-link.active {
  border-bottom: 2px solid #fd267d;
}

.profile-thumb {
  border: 2px solid #fff;
}