<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Join us</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Get started</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Nam at lectus urna duis convallis convallis tellus. Pretium fusce id velit ut tortor pretium viverra suspendisse. Id interdum velit laoreet id donec ultrices tincidunt. Malesuada fames ac turpis egestas sed tempus. Nunc sed augue lacus viverra. Orci a scelerisque purus semper eget duis at. Sed euismod nisi porta lorem. Condimentum vitae sapien pellentesque habitant morbi tristique. Nulla facilisi cras fermentum odio eu feugiat. Id volutpat lacus laoreet non curabitur gravida. Penatibus et magnis dis parturient montes nascetur. Pretium viverra suspendisse potenti nullam. Sodales ut etiam sit amet nisl purus in mollis.</p>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign Up</h4>
    </div>
    <div class="card-body">

      <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
    </div>
  </div>
</div>