<div class="bg-danger profile-bar">
  <%= link_to "", class: "d-block text-white" do %>
    <%= image_tag current_account.images.first, width: "40px", height: "40px", class: "profile-thumb rounded-circle mr-2"%>
    My profile
  <% end  %>
</div>